<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Registrar</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Registrar</a></li>
        </ul>
    </nav>
</header>

<main>
    <form id="registerForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Registrar</button>
    </form>

    <div id="errorMessage" style="color: red;"></div>
</main>

<footer>
    <p>Blog - Todos os direitos reservados</p>
</footer>

<script>
    document.getElementById('registerForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        fetch('http://localhost:8080/api/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                email: email,
                password: password
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.id) {
                    window.location.href = /*[[${#urls.relative("login")}]]*/ 'login.html';
                } else {
                    document.getElementById('errorMessage').innerText = 'Erro ao registrar.';
                }
            })
            .catch(error => console.error('Erro ao registrar:', error));
    });
</script>
</body>
</html>
